<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
  <style >
    .title {
      font-weight: bold;
    }
    .date {
      font-style: italic;
    }
    .body {
      font-family: 'Courier New', Courier, monospace
    }
  </style>
</head>
<body>
  <% list.map(item => {  %>
    <div class="title"><%= item.title %></div>
    <div class="date"><%= item.date %></div>
    <div class="body"><%= item.content %></div>
  <% }) %>

</body>
</html>