<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title><%= title %></title>
</head>
<body>
  <% include menu %>
  <h1><%= title %></h1>
  <p>填写表单</p>
  <form action="/entries/post" method='post'>
    <p>
      <input type='text' name='entry[title]' placeholder='标题' />
    </p>
    <p>
      <textarea  name='entry[body]' placeholder='主体' ></textarea>
    </p>
    <p>
      <input type='submit' value='提交' />
    </p>
  </form>
</body>
</html>